

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
}
.nevigation {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: inline;
    
}
/* shared style*/
.blue{
    color: #4E47FF;
}
.logo{
    font-size: 34px;
    font-weight: bold;
}
.btn-primary{
    width: 110px;
    height: 30px;
    gap: 16px;
    margin-top: 45px;
    border-radius: 5px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-weight: bold;

}
.btn-primary:hover{
    background-color: #50ff47;
    color: rgb(225, 219, 219);
    border: none;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: black;
}
.btn-2{
    gap: 10px ;
    margin-top: 35px;
    height: 30px;
}

/* .btn-primary:active {
  transform: scale(0.95);
} */
.header-content{
    text-align: center;
    margin: 150px 260px;
    gap: 35px;
    font-size: 30px;
    font-weight: bold;
    color: #252432;
}
/* see it in action */
.section-1{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 140px 115px;
    border: none;
    align-items: inline;
    /* background-color: white; */
}
.container-1{
    gap: 20px;
    align-items: left;
    justify-content: center;
    margin-right: 220px;
    margin-top: 20px;
    
}
.action-header{
    font-weight: bold;
    font-size: 42px;
    /* padding-bottom: 10px; */
    margin-bottom: 20px;
}
.section-1-p{
    font-size: 24px ;
    color: #818187;
    margin-bottom: 23px;
}
.sec-1-btn{
    font-size: 13px;
    width: 160px;
    height: 45px;
    padding: 0 12px;
    text-align: center;
    text-wrap: wrap;
    margin-top: 10px;
}
.container-2 img{
    border-radius: 45px;
}

.section-2{
    background-color:rgb(219, 250, 255);
    text-align: center;
    margin: 115px 140px;
    border-radius: 20px;
    padding: 80px 50px;
    padding-top: 40px;
    /* box-sizing: border-box; */
}
.users{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.users div{
    text-align: center;
    padding:  0 60px;
    margin: 0;
}
.p1{
    font-size: 2.8em;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 20px;
    margin-bottom: 5px;
}
.descrip{
    margin-top: 5px;
    font-size: 0.8em;
    color: #818187;
}
.section-2 h4{
    font-size: 1.8em;
    color: #252432;
    margin-bottom: 20px;
}
